
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>@ViewBag.Message</h3>
<p>There are @ViewBag.CustomerCount customers added into the list</p>
@* <ul>
    @foreach (var customer in ViewBag.CustomerList)
    {
        <li>@customer.Id - @customer.Name - @customer.Amount</li>
    }
</ul> *@
<table>
   <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Amount</th>
    </tr>
    @foreach (var customer in ViewBag.CustomerList)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Name</td>
            <td>@customer.Amount</td>
        </tr>
    }
</table>
<hr/>
@Html.ActionLink("Details Page","Details","Customer")

<br/>
<a asp-controller="Customer" asp-action="Message">Message</a>
<br/>
<a asp-controller="Customer" asp-action="Add">Add  new customer</a>

